@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-primary: rgb(229, 56, 56);
    --color-light: rgb(153, 153, 153);
    --color-white: rgba(255, 255, 255);
    --color-dark: rgb(51, 51, 51);
    --color-primary-hover: rgb(229, 77, 77);
    --transition: .3s all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
}

a {
    text-decoration: none;
}

.rotate_90 {
    transform: rotate(90deg);
}

.all_unset {
    all: unset;
}

.flex_1_1_0 {
    flex: 1 1 0%;
}

.flex_2_1_0 {
    flex: 2 1 0%;
}

/* primary button */
.btn_primary {
    all: unset;
    width: 80%;
    background-color: var(--color-primary);
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    margin: auto;
    transition: var(--transition);
    cursor: pointer;
}

.btn_primary:hover {
    background-color: var(--color-primary-hover);
}

.btn_outlined_primary {
    all: unset;
    width: 80%;
    border: 1px solid var(--color-primary);
    display: block;
    padding: 10px;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    margin: auto;
    transition: var(--transition);
}

.btn_outlined_primary:hover {
    background-color: rgba(229, 56, 56, 0.1);
}

/* primary button */
/* Font Size */
.fs_14 {
    font-size: 14px;
}

.fs_15 {
    font-size: 15px;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}

.fs_24 {
    font-size: 24px;
}

.fw-500 {
    font-weight: 500;
}

/* Font Size */

.bg_primary {
    background-color: var(--color-primary);
}

.text_primary {
    color: var(--color-primary);
}

.bg_light {
    background-color: var(--color-light);
}

.text_light {
    color: var(--color-light);
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 130px;
    height: auto;
}

.left_bar {
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left_bar::-webkit-scrollbar {
    display: none;
}

.left_bar .back_navigation {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
}

.left_bar .header {
    width: 100%;
    margin: auto;
}

.left_bar .langaue_modal_btn {
    all: unset;
    color: var(--color-primary);
    cursor: pointer;
}

.language_list {
    all: unset;
    display: block;
    padding: 10px 0px;
    width: 100%;
    font-size: 18px;
}

.language_list:not(:last-child) {
    border-bottom: 1px solid rgb(222, 226, 230);
}

.left_bar .footer {
    margin: auto;
}

.left_bar .footer .social_icon_container {
    display: flex;
    justify-content: space-around;
}

.left_bar .social_icon_container .icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: var(--transition);
}

.left_bar .social_icon_container .icon:hover {
    background-color: rgba(229, 56, 56, 0.1);
}

.desktop_content {
    min-height: 100vh;
}

.desktop_content>.main {
    max-width: 400px;
    width: 100%;
}

.primary_divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
}

.deliver_modal .btn_primary,
.deliver_modal .btn_outlined_primary {
    width: 100%;
    text-align: center;
}

/* order status Page */
.order_status .search_order input {
    all: unset;
}

.order_status .call_restaurant,
.main_menuPage .call_restaurant {
    display: inline-block;
    width: 200px;
    text-align: center;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 100px);
}

/* order status Page */

/* feedback page */
.feedback_page .height-100 {
    min-height: calc(100% - 50px);
}

.feedback_page .bottom_fixed {
    all: unset;
    position: sticky;
    bottom: 0;
    width: 100%;
    background: var(--color-primary);
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
}

.feedback_page .face_emoji {
    font-size: 32px;
}

.feedback_page .face_check:checked+.face_radion_btn {
    color: var(--color-primary);
}

.feedback_page .star_container {
    color: rgba(229, 56, 56, 0.2);
}

.feedback_page .star_container:hover {
    color: var(--color-primary);
}

.feedback_page .star_container:not(:last-child) {
    margin-right: 10PX;
}

.feedback_page .like_radio_btn {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 6px;
    cursor: pointer;
}

.feedback_page .btn-check:checked+.like_radio_btn {
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
}

/* feedback page */

/* main menu page */
.main_menuPage .logo_small {
    width: 60px;
    height: auto;
}

.main_menuPage .tab_items {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 0;
}

.main_menuPage .tab_items.active {
    background: none;
}

.main_menuPage .sticky_content {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}

.main_menuPage .menu_nav {
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    /* IE and Edge */
}

.main_menuPage .menu_nav::-webkit-scrollbar {
    height: 10px;
}

.main_menuPage .menu_nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.main_menuPage .menu_nav::-webkit-scrollbar-thumb {
    background: var(--color-dark);
    border-radius: 10px;
}

.main_menuPage .menu_nav a[aria-selected="true"] {
    border-bottom: 2px solid var(--color-primary);
}

.main_menuPage .product_card .product_title {
    font-size: 17px;
    font-weight: bold;
}

.main_menuPage .product_card .icons {
    width: 32px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.main_menuPage .product_card .add_btn {
    width: 40px;
    height: 35px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 20px solid;
}

.main_courses_accordion .accordion-button:not(.collapsed) {
    background-color: rgb(255, 255, 255);
    color: var(--color-dark);
}

.main_courses_accordion .accordion-button:focus {
    box-shadow: none;
}

/* main menu page */

/* detail page */
.detail_page .banner {
    position: sticky;
    top: 0;
    z-index: 0;
}

.detail_page .banner .back_navigate {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: var(--color-dark);
    border-radius: 50px;
    position: absolute;
    top: 14px;
}

.detail_page .banner .bottom_detail {
    position: absolute;
    bottom: 28px;
    left: 14px;
    right: 14px;
}

.detail_page .banner .time {
    background: rgba(255, 255, 255, 0.8);
    padding: 4px 10px;
    font-size: 14px;
}

.detail_page .banner .info {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    font-size: 14px;
}

.detail_page .prodcut_detail_container {
    background-color: rgb(255, 255, 255);
    min-height: 70vh;
    margin-top: -20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.detail_page .icons {
    width: 28px;
    height: auto;
    margin-right: 8px;
}

.detail_page .add_notes_btn {
    all: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
}

.detail_page .less_btn,
.detail_page .add_btn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    font-weight: 900;
    font-size: 18px;
}

.detail_page .footer.add_to_cart {
    position: sticky;
    bottom: 0;
    padding: 10px 30px;
    background-color: var(--color-white);
}

/* detail page */

/* Media Query */
@media(max-width:991px) {
    .desktop_content {
        display: none;
    }

    .left_bar {
        border: 0px !important;
    }
    .detail_page .prodcut_detail_container{
        padding-bottom: 70px !important;
    }
    .detail_page .footer.add_to_cart {
        position: fixed;
        width: 100%;
        max-width: 350px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/* Media Query */